body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home_container_image {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.home_image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
}

.home_container_image:hover .overlay {
  width: 100%;
  left: 0;
}

.home_text_image {
  color: black;
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.home_icon {
  font-size: 45px !important;
  -webkit-transition-property: font-size;
  -webkit-transition-duration: 1s;
  transition-property: font-size;
  transition-duration: 1s;
}

.home_icon:hover {
  font-size: 35px !important;
  -webkit-transition-property: font-size;
  -webkit-transition-duration: 1s;
  transition-property: font-size;
  transition-duration: 1s;
}

.footer {
  width: 100%;
  padding-top: 2.66666em;
  padding-bottom: 2.66666em;
  background-color: #191919;
  text-align: center;
}

.text_footer {
  color: #d3d3d3;
}

.line {
  height: 70px;
  width: 100%;
}

.bold {
  font-weight: bold;
}

.mainbox {
  margin: auto;
  height: 600px;
  width: 600px;
  position: relative;
}

.err {
  color: black;
  font-family: "Nunito Sans", sans-serif;
  font-size: 11rem;
  position: absolute;
  left: 20%;
  top: 8%;
}

.far {
  position: absolute;
  font-size: 8.5rem;
  left: 42%;
  top: 15%;
  color: black;
}

.err3 {
  color: black;
  font-family: "Nunito Sans", sans-serif;
  font-size: 11rem;
  position: absolute;
  left: 44%;
  top: 8%;
}

.err2 {
  color: black;
  font-family: "Nunito Sans", sans-serif;
  font-size: 11rem;
  position: absolute;
  left: 68%;
  top: 8%;
}

.msg {
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  position: absolute;
  left: 16%;
  top: 45%;
  width: 75%;
}

.link_error {
  text-decoration: none;
  color: blue;
}

link_error:hover {
  text-decoration: underline;
}
